# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
# MODIFICACIONES JAIME
/wp-snapshots/
.ht*
/*.png
/*.ico
/sucu*.php
/*.json
# *.php
/*.php 
.vscode
/*.jpg
/*.yaml
/*.txt


/wp-content/*.sql
/wp-content/Cop*/
/wp-content/w*/
/wp-content/u*/

/wp-content/themes/genesis/
/wp-content/themes/O*/
/wp-content/themes/o*/
/wp-content/themes/r*/
/wp-content/themes/twretina/node_modules/
/wp-content/themes/twretina/node_scripts/
.DS_Store
.DS_Store?
/wp-content/object-cache.php
/wp-content/plugins/

